<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="main-header">
      <div class="main-header-top-bar">
        <img src="./imgs/logo-mercado-liebre.svg">
        <div class="barra-busqueda">
            <input class="color-text-gris" type="text" value="Buscar productos, marca">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

            <!-- <div class="barra-busqueda">
                <input type="text" placeholder="Buscar...">
                <button type="submit"> Buscar</button>
            </div>
            <p><i class="fa-solid fa-magnifying-glass"></i></p> -->
            <h2 class="tarjeta">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                    Comprá en cuotas y sin tarjeta de crédito
            </h2>
     </div>
     <div class="burger-menu">
            <i class="fas fa-bars"></i>
     </div>
       
     <nav class="main-navbar">
            <ul class="site-navbar">
                <li><a href="#Oferta"> Oferta</a> </li>
                <li><a href="#Tiendas oficiales"> Tiendas oficiales </a></li>
                <li><a href="#Vender"> Vender</a></li>
                <li><a href="#Ayuda"> Ayuda</a></li>
            </ul>
            <ul class="login-navbar">
                <li><a href="form.html"> Crea tu cuenta</a> <i class="fa-solid fa-id-card"></i> </li>
                <li><a href="login.html"> Ingresá</a> <i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#Mis compras"> Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
     </nav>

        
    </header>

    <main> 
        <h2 class="titulares">Basado en tu ultima visita</h2>
        <section>
           

            <article class="producto">

                <img src="./imgs/img-cafetera-moulinex.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                    <div class="valor">
                        <p class="precio"> $6700</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <strong class="descripcion">Cafetera Moulinex</strong>
                </div>


            </article>

            <article class="producto">

                <img src="./imgs/img-macbook-pro-2019.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                    <div class="valor">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <strong class="descripcion">MacBook Pro 2019</strong>
                </div>

            </article>


            <article class="producto">
                <img src="./imgs/img-samsung-galaxy-s10.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                    <div class="valor">
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% OFF</p>
                    </div>
                    <strong class="descripcion">Samsung Galaxy S10 </strong>
                </div>

            </article>

            <article class="producto">
                <img src="./imgs/img-tv-samsung-smart.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                    <div class="valor">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <strong class="descripcion">SmartTv Samsung 43"</strong>
                </div>

            </article>

        </section>
         <h2 class="titulares"> Ofertas</h2>
        <section>
            <article class="producto">
                <img src="./imgs/img-cafetera-moulinex.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i></p>
                    <div class="valor">
                        <p class="precio"> $6700</p>
                        <p class="descuento">40% OFF</p>
                    </div>
                    <strong class="descripcion">Cafetera Moulinex</strong>
                </div>
            </article>

            <article class="producto">
                <img src="./imgs/img-macbook-pro-2019.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                    <div class="valor">
                        <p class="precio">$230000</p>
                        <p class="descuento">20% OFF</p>
                    </div>
                    <strong class="descripcion">MacBook Pro 2019</strong>
                </div>

            </article>
           
            <article class="producto">
                    <img src="./imgs/img-samsung-galaxy-s10.jpg" width="300px">
                    <div>
                        <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                        <div class="valor">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                        </div>
                        <strong class="descripcion">Samsung Galaxy S10 </strong>
                    </div>

                </article>
            
            <article class="producto">
                <img src="./imgs/img-tv-samsung-smart.jpg" width="300px">
                <div>
                    <i class="fa-solid fa-truck" style="color: #10b212;"></i>
                    <div class="valor">
                        <p class="precio">$23.200</p>
                        <p class="descuento">5% OFF</p>
                    </div>
                    <strong class="descripcion">SmartTv Samsung 43"</strong>
                </div>
            </article>

        </section>
    </main>
    <footer>
        <div class="footer-general">
        <section>
            <p class="icono"><i class="fa-regular fa-credit-card"></i></p>
            <h3> Pagá con tarjeta o en efectivo</h3>
            <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</h5>
        </section>

        <section>
            <p class="icono"><i class="fa-solid fa-gift"></i></p>
            <h3>Envío gratis desde $2500</h3>

            <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</h5>
        </section>

        <section>
            <p class="icono"><i class="fa-solid fa-user-shield"></i></p>
            <h3>Seguridad, de principio a fin</h3>

            <h5>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</h5>
        </section>
    </div>
        
            <h5 class="nav-footer">Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
     
    </footer>
</body>

</html>